<div class="container" *ngIf="softskills">
    <div class="row">
        <div>
            <h1>Editar Soft Skills</h1>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div id="botones" class="form-group">
                    <label for="nombre"><h3>Nombre de la skill</h3></label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="softskills.nombre" required>
                </div>
                <div id="botones" class="form-group">
                    <label for="porcentaje"><h3>ingrese el porcentaje</h3></label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="softskills.porcentaje" required>
                </div>
                <button type="button" class="btn btn-primary" id="button">
                    Actualizar
                </button>
            </form>
        </div>
    </div>
</div>