<div class="container" *ngIf="persona">
    <div class="row">
        <div>
            <h1>Editar Hard Skills</h1>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div id="botones" class="form-group">
                    <label for="nombre"><h3>Nombre</h3></label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required>
                </div>
                <div id="botones" class="form-group">
                    <label for="apellido"><h3>Apellido</h3></label>
                    <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="persona.apellido" required>
                </div>
                <div id="botones" class="form-group">
                    <label for="descripcion"><h3>Descripcion</h3></label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="persona.descripcion" required>
                </div>
                <div id="botones" class="form-group">
                    <label for="img"><h3>imagen</h3></label>
                    <input type="file" class="form-control" id="img" name="img" [(ngModel)]="persona.img" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png">
                </div>
                <br>
                <button class="btn btn-primary" id="button">
                    Editar persona
                </button>
                <br>
                <div class="imagen">
                    <img src="imageService.url" width="200px">
                </div>
            </form>
        </div>
    </div>
</div>

